/* CSS Document *//*
 ____________________________________________________________
|                                                            |
|    DESIGN : Benson Mburu { http://thecipher.tk }    |
|                                        |
|                         |
|     |
|____________________________________________________________|

*/
html, body {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	font: 90%/1 arial, helvetica, sans-serif;
	background: #443833;
	width: 100%;
}

h1 {
	display: block;
	font-size: 1.4em;
	color: #443833;
	border-bottom: #443833 1px dotted;
	margin: 40px 0 15px 0;
}

h1.quote {
	display: block;
	float: right;
	clear: right;
	font-size: 1.8em;
	font-family: Georgia, Arial, sans-serif;
	color: #443833;
	margin: 40px 0 0 0;
	border: none;
}

small {color: #999; font-size: 0.85em;}

a img {border: none;}

/***** Global Classes *****/
.alignleft {display: block; float: left;}

.alignright {display: block; float: right;}

.aligncenter {
  	display: block;
  	text-align: center;
  	margin: 0 auto;
}

.endOfSection {
  	clear: both;
  	width: 100%;
  	height: 0;
  	line-height: 0;
  	font-size: 0;
  	padding: 0;
  	margin: 0;
  	border: 0;
}

/* the main layout */
#contentForm {
	display: block;
	width: 780px;
	margin: 70px auto;/*this line will center the page*/
	padding: 25px;
	border: 6px solid #625748;
	background-color: white;
}

#contentForm p{
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;           
	height: 1%;
}

/* and now the form itself */
label {
	display: block;
	float: left;
	clear: left;
	margin: 5px 0 10px 0;
	width: 250px;
	line-height: 120%;
}

input, textarea, select {
	padding: 2px;
	font-size: 1em;
	color: #666666;
	background: #F5F5F5;
	border: 1px solid #ccc;
	float: left;
	display: block;
	margin: 5px 0 10px 0;
}

input:focus, textarea:focus, select:focus {
	border: 1px solid #999;
	background-color: #FFFFFF;
}

input.button {
	cursor: pointer;
	border: none;
	font-weight: bold;
	background: url(images/submit.jpg) no-repeat left top;
	width: 90px;
	height: 28px;
}

.fright {
	display: block;
	float: left;
}

.fright label {
	width: 500px;
	line-height: 160%;
	margin: 0 !important;
}

.fright input {
	margin-right: 5px !important;
}

span.required{
	font-size: 13px !important;
	color: red !important;
}

.errormsg {
	display: block;
	width: 90%;
	height: 22px;
	line-height: 22px;
	color: #FFFFFF;
	font-weight: bold;
	background: #FF9D9D url(images/stop.gif) no-repeat 10px center;
	padding: 3px 10px 3px 40px;
	margin: 10px 0;
	border-top: 2px solid #FF0000;
	border-bottom: 2px solid #FF0000;
}


